:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFEEF6;
  --page-color: #FFC2E6;
  --title-color: #353430;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --theme-color: #353430;
  --decor-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFEEF6;
  --page-color: #FFC2E6;
  --title-color: #353430;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --theme-color: #353430;
  --decor-visibility: hidden;
  }
}